<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">{{ "NAVBAR.TITLE" | translate }}</a>
    <div class="d-flex">
      <span class="fi fi-us me-2" (click)="changeLanguage('en')"></span>
      <span class="fi fi-de me-2" (click)="changeLanguage('de')"></span>
      <span class="fi fi-it me-2" (click)="changeLanguage('it')"></span>
      <span class="fi fi-es me-2" (click)="changeLanguage('es')"></span>
    </div>
  </div>
</nav>
<div class="container-fluid mt-3">
  <h1 [innerHtml]="'MAIN_CONTENT.TITLE' | translate"></h1>
  <p>
    {{ "MAIN_CONTENT.DESC_P1" | translate }}
  </p>
  <p>
    {{ "MAIN_CONTENT.DESC_P2" | translate }}
  </p>
  <p>
    {{ "MAIN_CONTENT.DESC_P3" | translate }}
  </p>
</div>
