<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">Internationalization</a>
    <div class="d-flex">
      <span class="fi fi-us me-2"></span>
      <span class="fi fi-de me-2"></span>
      <span class="fi fi-it me-2"></span>
      <span class="fi fi-es me-2"></span>
    </div>
  </div>
</nav>
<div class="container-fluid mt-3">
  <h1>What is ngx-translate</h1>
  <p>
    NGX-Translate is an internationalization library for Angular. It lets you define translations for your content in
    different languages and switch between them easily.
  </p>
  <p>
    It gives you access to a service, a directive and a pipe to handle any dynamic or static content.
  </p>
  <p>
    NGX-Translate is also extremely modular. It is written in a way that makes it really easy to replace any part with a
    custom implementation in case the existing one doesn't fit your needs.
  </p>
</div>